@import "tailwindcss";

@theme {
}

@utility row {
	@apply flex flex-row;
}

@utility row-flex {
	@apply row flex-1;
}

@utility col {
	@apply flex flex-col;
}

@utility col-flex {
	@apply col flex-1;
}
